body{
    margin: 25px auto;
    text-align: center;
    background-color: #F5F5F5;
    max-width: 800px;
    line-height: 23px;
    
}

header{
    border-color: darkblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}
header>div>h2{
    font-size: 20px;
}

section{
    margin: auto 100px;
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
}

section>h2{
    font-size: 20px;
    color: darkblue;
}

ol>li{
    font-weight: bold;
    text-align: left;
}

ul>li{
    text-align: left;
}
