html, body{
    background-color: #FDF0D5;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* lagt inn auto-fit */
.navbar{
    background-color: #FDF0D5;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    width: 100%;
    text-align: center;
    box-shadow: 0 0 50px grey;
    top: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.heleLogo{
    grid-column: 1;
    display: grid;
    grid-template-columns: 5rem auto;
    column-gap: 0;
    margin: 0;
}

#logo{
    max-width: 3.8rem;
    margin: 0.5rem auto auto 0.5rem;
    display: inline;
    grid-column: 1;
}

header h1{
    display: inline;
    color: #800020;
    grid-column: 2;
    text-align: left;
}

.oversikt{
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto 1rem;
    height: 100%;
}

.oversikt a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: auto;
}

#kafe{
    grid-column: 1;
    width: 100%;
}

#kantine{
    grid-column: 2;
    width: 100%;
}

#omOss{
    grid-column: 3;
}

#kontakt{
    grid-column: 4;
}

#omOss, #kontakt{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slideshow-container{
    background-color: #800020;
    margin-top: 5.1rem;
    text-align: center;
    height: 25rem;
    width: 100%;
    padding: 0; 
}   

.slideshow-container img{
    width: 100%;    /*endret bildet til 100% with*/
    height: 25rem;
    position: relative;
    margin: 0;
    object-fit: contain;
    transition: 1s ease-in-out;
}

.informasjon h1{
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #800020;
    color: #800020;
}

.informasjon p{
    color: #800020;
}

footer{
    background-color: #800020;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

/* Sylvia sin css for navbar under her */
.dropdown {
    float: right;
    overflow: hidden;
    margin: auto;
    width: 100%; 
    height: 100%;
}

.dropdown .dropbtn {
    border: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 1.2rem;
    height: 100%;          /*Høyden her gjør at selve knappen til kafe og kantine blir i midten */
}

/* dropdown knappen, gjemt */
.dropdown_innhold {
    display: none;
    position: absolute;
    background-color: #FDF0D5;
    min-width: 160px;
    z-index: 1;
}

.dropdown_innhold a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1rem;
    font-family: inherit;
}

/* Når du holder over knappene, vil de få en rød boks samt hvit skrift */
#omOss:hover, #kontakt:hover, .dropdown:hover .dropbtn{
    background-color: #800020;
    color: white;
}

/* hover over de ulike valg mulighetene for kafe og kantine gir deg bakgrunnsfargen + svart farge */
.dropdown_innhold a:hover {
    background-color: #DEB1B1;
    color: black;
}

/* Viser brukeren dropwdown menyen når brukeren tar musa over dropdown */
.dropdown:hover .dropdown_innhold {
    display: block;
}

/* når screen size er større enn 1200px så endrer margin seg */
@media screen and (min-width: 1200px) {
    .informasjon{
        margin: 1rem 20rem;
    }
}

/* når screen size er mindre enn 1200px så endrer margin seg */
@media screen and (max-width: 1200px) {
    .informasjon {
        margin: 1rem 10rem;
    }
}

@media screen and (max-width:700px) {
    .navbar, .dropdown .dropbtn, #omOss, #kontakt{
        display: block;
        height: 5rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .heleLogo{
        float: right;
        display: none;
    }
    .informasjon{
        margin: 1rem 1.5rem;            /* endret margin og font size når skjerm er under 700 px */
    }
    .informasjon h1{
        font-size: 2rem;
    }
}




/* star-review */

.container{
    position: relative;
    width: 400px;
    background: rgb(247, 232, 247);
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .etter {
    display: none;
}

.container .takk {
    font-size: 25px;
}

.container .edit {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 5px;

}

.container .star-widget input{
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

form .kommentar {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .kommentar textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #333;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

form .sendbtn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .sendbtn button {
    height: 100%;
    width: 100%;
    border: 1px solid;
    cursor: pointer;
}

form .sendbtn button:hover {
    background: rgb(215, 214, 214);
}
