html, body{
    background-color: #FDF0D5;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.slideshow-container{
    background-color: #800020;
    margin-top: 5.1rem;
    text-align: center;
    height: 25rem;
    width: 100%;
    padding: 0; 
}   

.slideshow-container img{
    width: 100%;    /*endret bildet til 100% with*/
    height: 25rem;
    position: relative;
    margin: 0;
    object-fit: contain;
    transition: 1s ease-in-out;
}

.informasjon h1, h2{
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #800020;
    color: #800020;
}

                            /* Kommentar fra Sylvia: ny kode for h2. Burde benyttes på alle??*/
.informasjon h2{                    
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #800020;
    color: #800020;
}

.informasjon p{
    color: #800020;
    line-height: 200%;
}

/* Holder på å gjøre noe men ga opp lol - S */
iframe {
    position: relative;
    display: grid;
}

/* når screen size er større enn 1200px så endrer margin seg */
@media screen and (min-width: 1200px) {
    .informasjon{
        margin: 1rem 20rem;
    }
}

/* når screen size er mindre enn 1200px så endrer margin seg */
@media screen and (max-width: 1200px) {
    .informasjon {
        margin: 1rem 10rem;
    }
}

@media screen and (max-width:700px) {
    .informasjon{
        margin: 1rem 1.5rem;           
    }
    .informasjon h1{
        font-size: 2rem;
    } 
}  

.container{
    position: relative;
    width: 400px;
    background: rgb(247, 232, 247);
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .etter
 {
    display: none;
}

.container .takk {
    font-size: 25px;
}

.container .edit {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.container .edit:hover {
    color: gray;
}

.container .star-widget input{
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

form .kommentar {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .kommentar textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #333;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

form .sendbtn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .sendbtn button {
    height: 100%;
    width: 100%;
    border: 1px solid;
    cursor: pointer;
}

form .sendbtn button:hover {
    background: rgb(215, 214, 214);
}

/* omoss nettsiden */

* {
    box-sizing: border-box;
}

.kontakter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.kontakt-boks {
    flex-basis: 350px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background-color: lightpink;
}

.kontakt-boks > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.kontakt-boks > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-kontakter {
    display: flex;
    align-items: center;
}

.info-kontakter > img {
    height: 11px;
    margin-right: 8px;
}

.info-kontakter > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}


  
