html, body{
    background-color: #FDF0D5;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* lagde grid med 2 * 4 for å plassere de forskjellige elementene på riktig plass */
main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    margin-bottom: 5rem;
}

.slideshow-container{
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #800020;
    margin-top: 5.1rem;
    text-align: center;
    height: 25rem;
    width: 100%;
    padding: 0; 
}   

.slideshow-container img{
    width: 100%;    /*endret bildet til 100% with*/
    height: 25rem;
    position: relative;
    margin: 0;
    object-fit: contain;
    transition: 1s ease-in-out;
}

.informasjon h1, h2{
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #800020;
    color: #800020;
}

                            /* Kommentar fra Sylvia: ny kode for h2. Burde benyttes på alle??*/
h2{      
    grid-column: 1 / 3; 
    grid-row: 2;             
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #800020;
    margin: auto 4rem;
    color: #800020;
}

.informasjon p{
    grid-row: 3;
    color: black;
    line-height: 200%;
    font-size: 15px;
    text-align: justify;
}

/* Holder på å gjøre noe men ga opp lol - S */
iframe {
    position: relative;
    margin: 3rem 10rem 0rem 3rem;
}

/* når screen size er større enn 1200px så endrer margin seg */
@media screen and (min-width: 1200px) {
    .informasjon{
        margin: 1rem 5rem;
    }
}

/* når screen size er mindre enn 1200px så endrer margin seg */
@media screen and (max-width: 1200px) {
    .informasjon {
        margin: 1rem 2rem 0rem;
    }

    .informasjon p{
        grid-row: 3;
        color: black;
        line-height: 200%;
        font-size: 12px;
        text-align: left;
    }

    iframe {
        margin: 3rem 2rem;
    }
}

@media screen and (max-width:700px) {
    .informasjon{
        margin: 1rem 1.5rem;           
    }
    .informasjon h1{
        font-size: 2rem;
    } 
}  

/* omoss nettsiden */

* {
    box-sizing: border-box;
}

.kontakter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.kontakt-boks {
    flex-basis: 350px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background-color: lightpink;
}

.kontakt-boks > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.kontakt-boks > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-kontakter {
    display: flex;
    align-items: center;
}

.info-kontakter > img {
    height: 11px;
    margin-right: 8px;
}

.info-kontakter > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}


/* random review boks */

.box-review h2 {
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid #800020;
    color: #800020;
    margin: 0;
    overflow: hidden;
    
}

.review_bobler {
    padding: 4px 3px;
    background: white;
    opacity: 0.6;
    color:#800020;
    text-align: center;
    border-radius: 20px;
    width: 470px;
    margin: 20px 15px;
}

.name {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.review_bobler-container {
    max-height: 100%;
    overflow-y: auto;
}

/* kontakt form stuffies */

#kontakt-form {
    background-color: pink;
    color: #800020;
    width: 600px;
    height: 300px;
    text-align: left;
    margin: 100px auto 100px auto;
    border: 2px solid #800020;
}

.innhold_kontakt {
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    margin-left: 40px;
}

.input {
    margin-bottom: 8px;
}

.kontakt_info {
    text-align: center;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin: 20px 100px;
}

textarea {
    font-family: inherit;
 }